header{
    padding: 50px; 
    background-color: brown;  
    color: white;
   
   }
   
   img{
    height: 100px;
    width: 200px;
    
}

   #products{
    background-color: darkgoldenrod;
 
}
h2{
    background-color: white;
}
footer{
    background-color: black;
    color: white;
    padding: 50px;
    margin-top: 10px;

   
}
button{
    background-color: green;
    color: white;
}



